<div class="posts-container m-3">
    <h1 class="text-center">All Posts</h1>
    <% @posts.each do |post| %>
        <div class="card m-3">
            <div class="card-body">
                <h2 class="card-title"> <%= post.title %> </h2> 
                <% if signed_in? %>
                    <h6 class="card-subtitle text-muted mb-2"> <%= post.user.name %> </h6>
                <% end %>
                <p class="card-text"> <%= post.body %> </p> 
            </div>
        </div>
    <% end %>
</div>